* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64px;
}

#favorite {
    position: relative;
}

#bellicon {
    font-size: 4rem;
} 

#count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(210, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.75rem;
}

#countbutton {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(121, 251, 104);
    border-radius: 0.9rem;
}

